# Ignore everything
*

# Allow these directories
!config/
!defaultconfigs/
!mods/
!kubejs/
!datapacks/

# Allow all contents inside those directories
!config/**
!defaultconfigs/**
!mods/**
!kubejs/**
!datapacks/**

# Always keep the .gitignore file itself
!.gitignore
